body {
    background-color: #add8e6;
}

.display {
    display: flex;
    height: 100vh;
    font-family: cursive;
    align-items: center;
    justify-content: space-evenly;
}

.position {
    display: flex;
    border: 1px solid #000000;
    justify-content: center;
    height: 6.25rem;
    align-items: center;
}