body {
    background-color: lightblue;
}

.display {
    display: flex;
    height: 100vh;
    font-family: cursive;
    align-items: center;
    justify-content: space-evenly;
}

.position {
    display: flex;
    border: 1px solid black;
    justify-content: center;
    height: 100px;
    align-items: center;
}